*.class
*~
.loadpath
.mymetadata
.myumldata
.buildpath
.project
.settings
.classpath
*.iml
*.ipr
*.iws
nbproject
.DS_Store
target
test-output
nbactions.xml
CVS
bin
.history
/lib
.cache
.dos_cmds
.target/
build
.gradle/
~
.idea

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
